page {
  height: 100%;
}

// theme-1
@primary: #b97843;
@second: #f6b57c;
@third: #f8c693;
@forth: #fce5c3;
@fifth: #fae2ba;
@black: #333;
@red: #e93b3d;
@white: #fff;
.primary-btn {
  background-color: @primary;
  color: @white;
  &:active {
    color: @second;
  }
}
.default-btn {
  background-color: @white;
  color: @primary;
}
.opacity-btn {
  background-color: rgba(255, 255, 255, 0.3);
  color: @primary;
}
Button,
.button {
  transition: color 0.3s, background-color 0.3s;
  border-radius: 12px;
  padding: 0 32px;
}
